<% @receipts.each do |receipt| %>
  <% message = receipt.message %>
    <h4>
      <%= message.sender.username %> <br>
      <small><b>Subject: </b><%= message.subject %></small><br>
      <small><b>Date: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
    </h4>
  <%= message.body %>
<% end %>
