<div class="message-thread">
<% @receipts.each do |receipt| %>
  <% message = receipt.message %>
  <div class="message">
    From: <%= link_to message.sender.username, user_path(message.sender) %> <br>
    <b>Subject: </b><%= message.subject %><br>
    <b>Date: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %>
    <div class="body">
      <%= message.body %>
    </div>
  </div>
<% end %>
</div>