<h1>Title</h1>
<div class="project-form">
  <%= form_tag users_results_path, :method => :get do %>
  <div class="form-field">
    <%= text_field_tag :search, params[:search] %>
</div>
 <div class="submit-button">
  <%= submit_tag "Search Near", :name => nil %>
</div>
<% end %>
</div>