<ul>
<% for user in @users %>
  <li><%= link_to user.zip_code, user %>
    </li>
<% end %>
</ul>
<p>
  <strong>Name:</strong>
  <%= user.username %>
</p>
<p>
  <strong>First Name</strong>
  <%= user.first_name %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= user.longitude %>
</p>

</ul>
