html {
  
  font-family: $main-font;
}

body {
  font-size:14px;
  background-color: $background-color;
  color: $text-color;
}

a { 
  text-decoration: none;
  color: $accent-color;
}

h1, h2, h3, h4 {
  color: $accent-color;
}

#content {
  padding:1%;
}

.left {
  float:left;
}

.right {
  float:right;
}

ul {
  margin:0;
  padding:0;
}