body {
  font-family: $main-font;
  font-size:14px;
  background-color: $background-color;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $accent-color;

  &:hover {
    color: $dark-accent-color;
  }
}

h1, h2, h3, h4 {
  font-family: $main-font;
  color: $accent-color;
  font-weight:bold;
}

h1 {
  font-size: 2em;
  font-family: 'Slim Joe';
}

h2 {
  font-size:1.75em;
}

h3 {
  font-size:1.5em;
}

h4 {
  font-size:1.25em;
  color: $text-color;
}

.content {
  width:90%;
  max-width:1280px;
  margin:0 auto;
  margin-top:20px;
}

#splash-copy-area {
  z-index: 1;
}

.login-links {
  z-index: 1;
}

.left {
  float:left;
}

.right {
  float:right;
}

ul {
  margin:0;
  padding:0;
}

.flash {
  font-size:1.2em;
  font-weight:bold;
  text-decoration: italic;
  margin-bottom:25px;
  color: $background-color;
  div {
    padding:10px;
  }
}

.splash {
  .waves-effect {
    display:block;
  }
}

#login {
  z-index: 1;
}

#signup {
  z-index: 1;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: 100%;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

