.project-teaser {
  background-color: $nav-color;
  margin-right:10px;

  .title {
    font-weight:bold;
    font-size:1.5em;
  }
  .description {
    padding:10px;
  }
  .location {
    font-style:italic;
    font-size:1.1em;
    margin-bottom:10px;
  }
  .team-lead {
    padding:15px 0;
  }
}

.project-desc, .requirement {
  padding-top:10px;
  font-size:1.1em;
}

.project-header {
  h1 {
    float:left;
    margin:0;
    padding-right:15px;
  }
}
.contact {
  .btn {
    width: 100%;
    font-size:0.85em;
  }
}
.status {
  display: block;
  text-transform: uppercase;
  font-weight:bold;
  padding:10px;
}

.collaborators a{
  font-size: 0.7em;
}

.level {
  float: right;
  display: block;
  padding: 5px;
  color:$background-color;
  font-weight:bold;
  text-transform: uppercase;
  border-radius:5px;
}
.beginner {
  background-color: $beginner-color;
}
.intermediate {
  background-color: $intermediate-color;
}
.advanced {
  background-color: $advanced-color;
}

.dates {
  margin-top:20px;
  label { 
    text-transform:uppercase;
    padding-right:10px;
  }
  div {
    display:inline-block;
    padding-right:10px;
  }
}

.project:after {
  clear:both;
  display:block;
  content:"";
}

.ui-helper-hidden-accessible {
  display:none;
}

ul.ui-menu {
  background-color: $panel-color;
  color:$accent-color;

  li {
    padding:10px;
    font-weight:bold;
  }
}

.tags-list {
  min-height:50px;
  padding:10px;
  display:block;
  color:$accent-color;
  font-weight:bold;
  .tag {
    padding:5px;
    display:inline-block;
  }
}