.project-teaser {
  background-color: $nav-color;
  margin-right:10px;

  .title {
    font-weight:bold;
    font-size:1.5em;
  }
  .description {
    padding:10px;
  }
  .location {
    font-style:italic;
    font-size:1.1em;
    margin-bottom:10px;
  }
  .team-lead {
    padding:15px 0;
  }
}

.project-header {
  h1 {
    float:left;
    margin-top:0;
  }
}

.project:after {
  clear:both;
  display:block;
  content:"";
}

.ui-helper-hidden-accessible {
  display:none;
}

ul.ui-menu {
  background-color: $panel-color;
  color:$accent-color;

  li {
    padding:10px;
    font-weight:bold;
  }
}

.tags-list {
  min-height:50px;
  padding:10px;
  display:block;
  color:$accent-color;
  font-weight:bold;
  .tag {
    padding:5px;
    display:inline-block;
  }
}