.splash-wrap {
  text-align:center;
}

.hidden {
  padding: 30px;
}

#splash-copy-area {
  padding-bottom: 20px;
  width: 50%;
  height: 60%;
  background-color: black;
  margin: 0 auto;
}

h1 {
  color: white;
  font-family: 'Slim Joe';
}

.big-header {
  font-size: 5.0em;
}

.copy {
  color: white;
  font-size: 2.0em;
  padding: 30px;
}

.splash {
  padding: 30px;
}

.logo {
  float: right;
}