.tags-display, .project-tags {
  display:flex;
  flex-wrap: wrap;
}

.tags-search {
  margin-top: 20px;
  font-weight:bold;
  .tag {
    padding:5px;
  }
  .project-count {
    color: $text-color;
    padding:10px;
  }
}

.tag {
  background-color: $panel-color;
  color: $accent-color;
  margin: 7px;
}
