.tags-display, .project-tags {
  display:flex;
  flex-wrap: wrap;
}

.tags-search {
  margin-top: 20px;
}

.tag {
  background-color: $panel-color;
  color: $accent-color;
  padding: 3px;
  margin: 5px;
}
