.projects-created, .collaborating-on {
  display:flex;
  flex-wrap: wrap;
}

.user-profile {
  .avatar {
    padding-right:20px;
  }

  .username {
    font-weight:bold;
    font-size:1.75em;
  }

  .links {
    display:flex;
    div {
      margin-right:15px;
      padding:10px 0;
    }
  }

  .bio:after {
    clear:both;
    display:block;
    content:"";
  }
}

.user {
  a {
    display:block;
  }
  padding:10px;
}