<h2>Projects near you: </h2>
<ul>
	<% @projects.each do |project|%>
		<div class = "project-result"><%= render partial: 'projects/project', locals: { project: project} %></div>
	<% end %>
</ul>

<div class='dropdown'>
	<button type="button" class="location"> Location</button>
	<button type="button" class="tags">Tag</button>
	
<div class="toggle location-search" style="display:none;"><%= render partial: "projects/search", layout: false %></div>
<div class="toggle tags-search" style="display:none;"><%= render partial: 'tags/display', locals: {tags: @tags}%></div>
</div>

