<div class="search right">
  <a class="waves-effect waves-light btn location" href="#">Search by Location</a>
  <a class="waves-effect waves-light btn tags" href="#">Search by Tags</a>
</div>
  <div class='dropdown'>
    <div class="toggle location-search" style="display:none;"><%= render partial: "projects/search", layout: false %></div>
    <div class="toggle tags-search" style="display:none;"><%= render partial: 'tags/display', locals: {tags: @tags}%></div>
  </div>
<div class="hub-main">
  <h2>Projects near you: </h2>
  <div class="near-you">
    <div class="near-you-results row">
    <% if @projects.empty? %>
      <em>Sorry, there are no projects near you.</em>
    <% else %>
        <%= render @projects %>
    <% end %>
  </div>
</div>
  </div>