<div class="homepage-hero-module">

    <div class="video-container">
      <div id="splash-copy-area">
  <div class="splash">
      <h1 class="big-header center-align">the &lt;HIVE&gt;</h1>
  <div class="copy center-align">Collaborate. Inspire. Innovate.</div>
      <div class="login-links center-align">  <a class="waves-effect waves-light btn modal-trigger" href="#signup">Sign Up</a>
  <a class="waves-effect waves-light btn modal-trigger" href="#login">Log In</a>
</div>
  </div>
</div>

<div id="signup" class="modal">
    <div class="modal-content">
    <%= render partial: 'users/new', locals: { user: @user }%>
    </div>
</div>
<div id="login" class="modal">
    <div class="modal-content">
    <%= render partial: 'sessions/new', locals: { user: @user }%>
    </div>
</div>
        <div class="filter"></div>
        <%= video_tag 'Hello-World.mp4', autoplay: true, class: 'fillWidth' %>
        <div class="poster hidden">
            <%= image_tag 'Hello-World.jpg'%>
        </div>
    </div>
</div>


