// CSS Reset
@import "base/normalize.scss";

// Core
@import "base/variables.scss";

// Import Materialize CSS Framework
@import "components/color";
@import "materialize";

// Styled patterns and elements
@import "base/fonts.scss";
@import "base/forms.scss";
@import "base/modals.scss";

// Styles
@import "styles/globals.scss";
@import "styles/tags.scss";
@import "styles/projects.scss";
@import "styles/users.scss";
@import "styles/splash.scss";

// Partials
@import "partials/nav";