<nav class="top-bar" data-topbar role="navigation">
<ul class="left">
  <li id="name">
  <%= image_tag "hive-logo.png" %>
  </li>
</ul>
<ul class="right">
  <% if current_user %>
    <li><%= current_user.username%></li>
    <li><%= link_to "Profile", user_path(session[:user_id]) %></li>
    <li><%= link_to "Logout", logout_path %></li>
  <% end %>
</ul>
</nav>
