<nav class="top-bar" data-topbar role="navigation">
<ul class="left">
  <li class="name">
  <h2>the Hive</h2>
  </li>
</ul>
<ul class="right">
  <% if current_user %>
    <li><%= current_user.username%></li>
    <li><%= link_to "Profile", user_path(session[:user_id]) %></li>
    <li><%= link_to "Logout", logout_path %></li>
  <% end %>
</ul>
</nav>
